/*ion-avatar img{
    width: 60px !important;
    height: 60px !important;
    overflow: hidden !important;
    border: 3px solid #000000 !important;
  }*/
.btn-color{
  --background: linear-gradient( 109.6deg,  rgba(107,5,5,0.88) 23.6%, rgba(251,71,71,1) 85.2% );    
}
  ion-avatar img{   
    border: 3px solid #850606 !important;
}
.item-padding{
    --padding-start: 0px!important;
}
.sched-card{
  margin-left: 0px!important;
  margin-right: 0pc!important;
}
.scan-paragraph{
  text-align: center!important;
}
.scan-default-img{
  height: 240px;
  width: 240px;
  left: 0;
  right: 0;
  margin:0 auto;
}
