.header-color{
    --background: linear-gradient( 109.6deg,  rgba(107,5,5,0.88) 23.6%, rgba(251,71,71,1) 85.2% );
    color: #ffffff;
 }

.p-color{
    color: #fa2121;
}
 
.card-style{
margin-right: 0px!important;
margin-left: 0px!important;
}

.info-font{
    font-weight: bold;
}

.thumbnail-style{
    margin-top: -10px!important;
    margin-bottom: 0px!important;
    margin-left: 0px;
    width: 90px;
    height: 70px;
}